body {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagenes_Tokyo/background\ img\ Kioto.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 400px;
  width: 550px;
}

header {
  height: 40px;
  background-color: #fff;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}