/* Sam */
.imgtra {
    height: 400px;
  width: 600px;
  margin: 80px;
  
  transition: transform 2s;
  
  } 
  
  .imgtra:hover{
    transform: rotate(0deg) scale(1.3, 1.3);}
  
    body {
      background-color: rgba(207, 225, 233, 0.836);
    }
    .miau{
    
      margin-left: 545px;
    }

  .Rawr{
    font-weight: 50px;
  font-family: 'Manrope', 'sans-serif';
  font-optical-sizing: auto;
  font-size: large;
  }

  .help {
    font-weight: 50px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.opera {
  font-weight: 50px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oslo {
  font-weight: 50px;
  font-family: 'Manrope', 'sans-serif';
  font-optical-sizing: auto;
  font-size: large;
}