
.Container{
    
    border-style: ridge;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    }

    .ImgPrin{
        margin-top: 150px;
        margin-left: 100px;
        background-image: url(Imagenes_Belgica/Atomium.jpg); 
        background-repeat: no-repeat;
        background-size: 700px 400px;
        height: 400px;
        width: 700px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 1000;
        color: white;
        font-size: 35px;
        padding-top: 0.5px;
        padding-left: 25px;
    }

    .ContentSecBel {
        display:flex;
        border-style: ridge;
        border-width: 10px;
        border-color: brown;
        margin-top: 40px;
        margin-left: 100px; 
        height: 270px;
        width: 800px;
    }

    .Dinant{
        
        background-image: url(Imagenes_Belgica/Dinat.jpeg);
        border-style: ridge;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 325px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 1000;
        font-style: normal;
        color: white;
        font-size: 30px; 
        padding-left: 10px;
        padding-top: 1px;
        
    }

    .Amberes{
        margin-top: 4px;
        background-image: url(Imagenes_Belgica/amberes.jpg);
        border-style: ridge;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 325px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 1000;
        font-style: normal;
        color: white;
        font-size: 30px; 
        padding-left: 10px;
        padding-top: 1px;
        
    }

    /* Miau sí. */