*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

/* Div de la imagen ubicada atras */
#Fondo{
    background-color: black;
    overflow: hidden;
    background-size: 100vw 70vw;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: start;
    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 100vh;
    
}

#ImagenFondo{
    overflow: hidden;
    background-size: 100vw 70vw;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 100vh;
    animation-name: AnimacionDeEntradaContenedor;
    animation-duration: 1s;
}


/* Imagen que hace la animación para agrandarse y colocarla de fondo */
#ImagenPrincipal{
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 70vw;
    position: absolute; 
    width: 100vw;
    height: 100vh;
}

/* Nombre y descripcion del pais/ciudad */
#NombreDestino{
    text-align: start;
    margin: 0vh 70vw 5vh 0vw;
    z-index: 1;
    position: absolute;
    color: rgba(255, 255, 255, 0.867);
    font-size: 6vw;
    width: 25vw;
}

#DescripcionDestino{
    text-align: start;
    margin: 23vh 65vw 0vh 0vw;
    z-index: 1;
    position: absolute;
    color: rgba(255, 255, 255, 0.841);
    font-size: 1.3vw;
    width: 27vw;
}

/* Barra de Navegacion de paises */
#BarraDeNavegaciondePaises{
    overflow: hidden;
    margin: 72vh 0vw 0vh 3vw;
    height: 7vh;
    position: absolute;
    display: flex;
    gap: 2vw;
    width: 27vw;
}


#BarraDeNavegaciondePaises img{
    border-radius: 100%;
    height: 6vh;
    width: 3vw;
    cursor: pointer;
}

/* Div que contiene todos los cuadros de cuidades de los paises */

#ContenedorOpciones{
    overflow: hidden;
    gap: 2vw;
    display: flex;
    margin: 30vh 0vw 0vw 33vw;
    height: 56vh;
    width: 78vw;
    z-index: 1;
}

/* Cada cuadro de Ciudad */
.OpcionDestino{    
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vw 32vw;
    width: 30vw;
    height: 26vw;
}

.OpcionDestino h1{
    width: 14vw;
    margin: 22vw 0vw 0vw 1vw;
    font-size: 2vw;
    color: white;
    text-shadow: 10px 10px 9px black;
}


/* Animacion que se realiza cuando se clickea una ciudad y su imagen se pone de fondo */
.AnimacionDeEntradaContenedor{
    animation-name: AnimacionDeEntradaContenedor;
    animation-duration: 1s;
}


@keyframes AnimacionDeEntradaContenedor {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.AnimacionDeEntrada{
    animation-name: AnimacionDeEntrada;
    animation-duration: 0.8s;
}


@keyframes AnimacionDeEntrada {
    from{
        width: 0%;
        height: 0%;
        background-size: 0vw 0vw;
    }
    to{
        width: 100%;
        height: 100%;
        background-size: 100vw 70vw;
    }
}


/* Animacion de entrada del nombre y descripcion del pais */
.AnimacionDeEntradaTexto{
    animation-name: AnimacionDeEntradaTexto;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes AnimacionDeEntradaTexto {
    from{
        margin-left: 10vw;
        opacity: 0%;
    }
    to{
        margin-left: 0vw;
        opacity: 100%;
    }
}

/* Pirmera parte de la información especifica de cada ciudad */
#Encabezado{
    display: grid;
    place-items: center;
    margin: 100vh 0vw 0vh 0vw;
    position: absolute;
    border: solid blue;
    height: 62vh;
    width: 99vw;
}

#NombreyLogo {
  width: 20.4vw;
  height: 61.3vh;
  border: solid rgb(17, 219, 255);
  margin: 0vw 90vw 0vh 0vw;
}

#PanoramicaDeLugar{
    display: grid;
    place-items: center;
    margin: 0vh 0vw 0vh 0vw;
    position: absolute;
    border:  solid red;
    width: 58vw;
    height: 61vh;
}

#PanoramicaDeLugar Img{
    width: 57.5vw;
    height: 55vh;
    border-radius: 20px;
}

iframe{
    height: 55vh;
    width: 70vw;
}

#DescripcionPanoramica{
    margin: 0vw 0vh 0vw 78.4vw;
    height: 61.3vh;
    position: absolute;
    width: 20.4vw;
    border: solid pink;
}

#InformacionDelLugar{
    margin-top: 162vh;
    position: absolute;
    height: 65vh;
    width: 99vw;
    border: solid brown;
  }

#HistoriaDelLugar {
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    border: solid #a6ff00fb;
    width: 58vw;
    height: 64.3vh;
  }

#ImagenenSecundaria{
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    border: solid #eeff00fb;
    width: 65vw;
    height: 64.3vh;
}

#MasInformacion {
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    border: solid aqua;
    width: 8vw;
    height: 64.3vh;
    right: 100rem;
}


#Restaurante {
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    border: solid darkmagenta;
    width: 8vw;
    height: 64.3vh;
    bottom: 150rem;
}