*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

/* Div de la imagen ubicada atras */
#Fondo{
    background-color: black;
    overflow: hidden;
    background-size: 100vw 70vw;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: start;
    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 100vh;

}

#ImagenFondo{
    overflow: hidden;
    background-size: 100vw 70vw;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 100vh;
    animation-name: AnimacionDeEntradaContenedor;
    animation-duration: 1s;
}


/* Imagen que hace la animación para agrandarse y colocarla de fondo */
#ImagenPrincipal{
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 70vw;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* Nombre y descripcion del pais/ciudad */
#NombreDestino{
    text-align: start;
    margin: 35vh 70vw 0vh 0vw;
    z-index: 1;
    position: relative;
    color: rgba(255, 255, 255, 0.867);
    font-size: 5vw;
    height: auto;
    width: 25vw;
}

#DescripcionDestino{
    text-align: start;
    margin: 2vh 65vw 50vh 0vw;
    z-index: 1;
    position: relative;
    color: rgba(255, 255, 255, 0.841);
    font-size: 1.3vw;
    height: 20vh;
    width: 27vw;
}

/* Barra de Navegacion de paises */
#BarraDeNavegaciondePaises{
    overflow: hidden;
    margin: 75vh 0vw 0vh 3vw;
    height: 7vh;
    position: absolute;
    display: flex;
    gap: 2vw;
    width: 27vw;
}


#BarraDeNavegaciondePaises img{
    border-radius: 100%;
    height: 6vh;
    width: 3vw;
    cursor: pointer;
}

/* Div que contiene todos los cuadros de cuidades de los paises */

#ContenedorOpciones{
    overflow: hidden;
    gap: 2vw;
    display: flex;
    margin: 30vh 0vw 0vw 33vw;
    height: 56vh;
    width: 78vw;
    z-index: 1;
}

/* Cada cuadro de Ciudad */
.OpcionDestino{
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vw 32vw;
    width: 30vw;
    height: 26vw;
}

.OpcionDestino h1{
    width: 14vw;
    margin: 22vw 0vw 0vw 1vw;
    font-size: 2vw;
    color: white;
    text-shadow: 10px 10px 9px black;
}


/* Animacion que se realiza cuando se clickea una ciudad y su imagen se pone de fondo */
.AnimacionDeEntradaContenedor{
    animation-name: AnimacionDeEntradaContenedor;
    animation-duration: 1s;
}


@keyframes AnimacionDeEntradaContenedor {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.AnimacionDeEntrada{
    animation-name: AnimacionDeEntrada;
    animation-duration: 0.8s;
}


@keyframes AnimacionDeEntrada {
    from{
        width: 0%;
        height: 0%;
        background-size: 0vw 0vw;
    }
    to{
        width: 100%;
        height: 100%;
        background-size: 100vw 70vw;
    }
}


/* Animacion de entrada del nombre y descripcion del pais */
.AnimacionDeEntradaTexto{
    animation-name: AnimacionDeEntradaTexto;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes AnimacionDeEntradaTexto {
    from{
        margin-left: 10vw;
        opacity: 0%;
    }
    to{
        margin-left: 0vw;
        opacity: 100%;
    }
}

/* Pirmera parte de la información especifica de cada ciudad */
#Encabezado{
    padding: 15vh 2vw;
    display: grid;
    place-items: center;
    margin: 100vh 0vw 0vh 0vw;
    position: absolute;
    height: 82vh;
    width: 99vw;
    font-size: x-large;
    background-color: black;
    color: gold;
    box-shadow: 12rem rgb(146, 19, 19);
}

#NombreyLogo {
  width: 20.4vw;
  height: 50.3vh;
  margin: 0vw 90vw 0vh 0%;
}

#NombreyLogo h1{
    margin: 0vw 0vw 0vw 0vw;
}

#PanoramicaDeLugar{
    display: grid;
    place-items: center;
    margin: 0vh 0vw 0vh 0vw;
    position: absolute;
    width: 58vw;
    height: 51vh;
}

#PanoramicaDeLugar Img{
    height: 50vh;
    width: 50vw;
    border-radius: 20px;
}

iframe{
    box-shadow: 0vw 0vw 2vw 0vw white;
    border-radius: 20px;
    height: 50vh;
    width: 50vw;
}

#DescripcionPanoramica{
    margin: 0vw 0vh 0vw 74vw;
    height: 61.3vh;
    position: absolute;
    width: 20.4vw;
    padding: 15vh 1vw;
}

#DescripcionPanoramica p{
    color: white;
    margin-top: 4vh;
    text-align: center;
    font-size: 1.3vw;
}
#DescripcionPanoramica h1{
    text-align: center;
    font-size: 1.9vw;
}

#InformacionDelLugar{
    padding: 13vh 5vw;
    margin-top: 170vh;
    position: absolute;
    height: 70vh;
    width: 99vw;

    background-color: black;
    color: goldenrod;
  }

  #InformacionDelLugar h1{
      font-size: 2.5vw;
      text-align: center;
  }

  #InformacionDelLugar p{
    margin: 4vh 0vw 0vw 0vw;
    font-size: 1.5vw;
    text-align: center;
}

#HistoriaDelLugar {
    background-color: rgba(255, 225, 1, 0.063);
    padding: 4vh 3vw;
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;

    width: 30vw;
    height: 45vh;
  }

#ImagenenSecundaria{
    background-repeat: no-repeat;
    background-size: 29vw 45vh;
    float: right;
    position: absolute;
    font-weight: bolder;
    width: 29vw;
    height: 45vh;
    margin: 0vw 0vw 0vw 61vw;
}

#MasInformacion {
    background-color: rgba(255, 225, 1, 0.063);
    padding: 4vh 2vw;
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 25vw;
    height: 45vh;
    left: 38vw;
}



#LugaresAVisitar{
    padding: 4vw 4vw;
    color: goldenrod;
    background-color: black;
    display: flex;
    margin-top: 230vh;
    position: absolute;
    height: 60vh;
    width: 99vw
}

#LugaresAVisitar h1{
    margin-top: 1vw;
    text-align: center;
    font-size: 3vw;
    color: white;
}

#LugaresAVisitar p{
    margin-top: 2vw;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

#Restaurante {
    padding: 0vh 2vw;
    background-repeat: no-repeat;
    background-size: 28vw 40vh;
    flex: 1;
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 28vw;
    height: 40vh;
    margin: 0vw 0vw 0vw 0vw;
}

#Hoteles {
    padding: 0vh 2vw;
    background-repeat: no-repeat;
    background-size: 28vw 40vh;
    flex: 1;
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 28vw;
    height: 40vh;
    margin: 0vw 0vw 0vw 31.5vw;
}

#Atracciones {
    padding: 0vh 2vw;
    flex: 1;
    background-repeat: no-repeat;
    background-size: 28vw 40vh;
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 28vw;
    height: 40vh;
    margin: 0vw 0vh 0vw 63vw;
}